<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
